<html>
  <head>
    <title>Mini Message Board</title>
  </head>
  <body>
    <%- include("partials/header") %>
    <h2><%= title %></h2>
    <ul>
      <% messages.forEach(message => { %>
      <li><%= message.text %> - <%= message.user %> - <%= message.added %></li>
      <% }) %>
    </ul>
    <%- include("partials/footer") %>
  </body>
</html>
